@use '../helpers/' as *;

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: var(--left-panel-width) calc(100% - var(--left-panel-width));

  &__container {
    width: 100%;
    height: 100vh;
    padding-inline: var(--container-padding-x);
    padding-block: var(--container-padding-x);

    display: grid;
    grid-template-rows: var(--header-height) calc(100% - var(--header-height));
  }

  &__content {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 100%;

    &--moving-panel {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}